# Entornos y secretos
.env
*.db
venv/
__pycache__/
*.pyc

# Datos y archivos subidos
/data/
backend/data/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Pytest
.pytest_cache/
